body {
    background: black;
    font: 150% GeezaPra, DroidSans, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

section>header {
    background: darkgrey;
    color: black;
    text-align: center;
    height: 5em;
    padding: 0.125em;
}

section>header .button {
    font-size: inherit;
    margin-right: 2em;
    background-color: grey;
    position: relative;
    top: -4.25em;
    border: outset grey 0.25em;
    padding: 1em;
    -webkit-border-radius: 0.5em;
}

section>header .next_button {
    float: right;
}

table {
    width: 100%;
    font-size: 100%;
}

td {
    padding: 0.625em 1.5em;
}

table>tr:nth-child(even) {
    background-color: dimgrey;
}

table>tr:nth-child(odd) {
    background-color: grey;
}

section#add_symbol {
    display: none;
}
